@import 'global';

input, textarea, select {
	outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*col-xl*/
@media screen and (min-width: 1200px) {
		
}

/*col-lg col-xl*/
@media screen and (min-width: 992px) {
	#banner-container {
		position: relative;
		z-index: 0;
		background: #eee;

		.item-banner {
    		height: 500px;
    		max-height: calc(100vh - 45px);
    	}
	}	

	#layout-header {
		
		#mobile-navigation {
			display: none;
		}

		#primary-navigation {
			margin: 15px 0; 
			width: 100%;

			.logo {
				img {
					max-width: 100%;
				}
			}

			nav {				
				ul {
					padding: 0;
					margin: 0;
					li {
						display: inline-block;
						list-style: none;
						position: relative;

						&:last-child {
							border: none;
						}
						a {
							display: block;
							font-size: 16px;
							font-weight: $bold;
							color: $color-green;
							padding: 0 25px;
							text-transform: uppercase;
							line-height: 45px;
							//@include transition(0.3s);
							&:hover, &:focus, &.active {
								color: $color-orange;
								text-decoration: none;
							}
							&::after {
							    display: block;
							    content: attr(title);
							    font-weight: bold;
							    height: 0;
							    overflow: hidden;
							    visibility: hidden;
							}
						}
					}
				}
			}

			.social {
				a {
					color: $color-orange;
					font-size: 30px;
					margin-left: 15px;
				}
			}
		}
	}

	#layout-footer {		
		#info {
			padding: 50px 0;
			background: $color-gray;
			color: $color-white;
		}
		
		#copyright {
			padding: 20px 0;
			background: $color-green;
			color: $color-white;
		}
	}

	#page-header {
		padding: 30px 0;

		h1 {
			color: $color-orange;
			text-transform: uppercase;
			text-align: center;
		}
	}
}

/*col-lg*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
		
}

/*col-md*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

/*col-sm col-md*/
@media screen and (max-width: 991px) {
	#banner-container {
		position: relative;
		z-index: 0;
		background: #eee;

		.item-banner {
    		height: 500px;
    		max-height: calc(100vh - 95px);
    	}
	}	

	#layout-header {
		
		#primary-navigation {
			display: none;
		}

		#mobile-navigation {
			margin: 15px 0; 
			width: 100%;

			.logo {
				img {
					max-width: 100%;
				}
			}

			.social {
				a {
					color: $color-orange;
					font-size: 30px;
					margin-left: 15px;
				}
			}
		}
	}

	#layout-footer {		
		#info {
			padding: 50px 0;
			background: $color-gray;
			color: $color-white;
		}
		
		#copyright {
			padding: 20px 0;
			background: $color-green;
			color: $color-white;
		}
	} 

	#page-header {
		padding: 30px 0;
		
		h1 {
			color: $color-orange;
			text-transform: uppercase;
			text-align: center;
		}
	}
}

/*col-sm*/
@media screen and (min-width: 576px) and (max-width: 767px) {
	 
}

/*col-xs*/
@media screen and (max-width: 575px) {
	
}

.whatsapp {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 70px;

	img {
		width: 100%;
		height: auto;
	}
}