title = "Produtos"
url = "/produtos"
layout = "default"
id = produtos

[products]


==
<?php
function onStart(){

}
?>
==

<section id="page-header">
	<div class="container">
		<h1>Produtos</h1>	
	</div>
</section>


<section id="produtos">
	<div class="container">
		<div class="row">
			{% for p in products.getAll() %}
				<div class="col-lg-4 item">
					
					<a href="javascript:;" data-fancybox-trigger="gallery-{{ p.id }}" class="img"><img src="{{ p.thumb.getPath() }}" alt="{{ p.name }}"></a>

					{% for v in p.videos %}
						<a href="{{ v.link }}" data-fancybox="gallery-{{ p.id }}"></a>
					{% endfor %}

					{% for g in p.gallery %}
						<a href="{{ g.getPath() }}" data-fancybox="gallery-{{ p.id }}" data-caption="{{ g.title }}"></a>
					{% endfor %}
					
					<div class="text">

						<h2>{{ p.name }}</h2>

						{{ p.description|raw }}

						<br>

						<a href="{{ url('contato') }}" class="btn btn-primary">ORÇAMENTO</a>

					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>


{% put styles %}
	<link href="{{ ['assets/css/page.produtos.min.css']|theme }}" rel="stylesheet">
{% endput %}