{% if newsletter.news_success %}
	<div class="alert alert-success">
		<p class="font-regular">Cadastrado com sucesso!</p>
	</div>
{% else %}
	{% if newsletter.news_errors|length > 0 %}
		<div class="alert alert-danger mt-1">
			<p>{{ newsletter.news_errors.first('nome') }} | {{ newsletter.news_errors.first('email') }}</p>
		</div>
	{% endif %}
{% endif %}

{{ form_ajax('newsletter::onSubmit', { id: 'form-news', update: { 'forms/newsletter': '#partial-form-newsletter' }}) }}

<div class="row">

	<div class="col-lg-5 col-12">
		<label for="nome">NOME</label>
		<input type="text" name="nome" value="{% if not newsletter.success %}{{ post('nome') }}{% endif %}" class="form-custom mb-2 {% if newsletter.news_errors.first('nome') %}validate{% endif %}">
	</div>

	<div class="col-lg-5 col-12">
		<label for="email">E-MAIL</label>
		<input type="text" name="email" placeholder="" value="{% if not newsletter.success %}{{ post('email') }}{% endif %}" class="form-custom mb-2 {% if newsletter.news_errors.first('email') %}validate{% endif %}">
	</div>

	<div class="col-lg-2 col-12">
		<label for=""></label>		
		<button type="submit" class="btn btn-red" style="width: 100%"><div class="span">ENVIAR</div></div></button>
	</div>

</div>

{{ form_close() }}