<label>Produto de interesse</label>

<select name="produto" id="produto" class="form-control">
	{% for p in products.getAll() %}
		<option value="{{ p.name }}" id="product-{{ p.id }}">{{ p.name }}</option>
	{% endfor %}
</select>

{% put scripts %}
	<script>
		$(document).ready(function(){

			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);

			var product = urlParams.get('produto');

			if (product) {
				$("#product-"+product).attr('selected','selected');
			}

		});
	</script>
{%  endput %}