description = "Default layout"

==
<?
function onStart(){ 

}
?>
==

<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}" />
        <meta name="title" content="{{ this.page.meta_title }}" />
        <meta name="keywords" content="{{ this.page.meta_key }}" />
        <meta name="author" content="Technobots" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="pinterest" content="nopin" />

        {% placeholder head %}
        
        <link rel="icon" type="image/x-icon" href="{{ 'assets/images/favicon.ico'|theme }}" />
        {% styles %}
        <link href="{{ [         
            'assets/css/bootstrap.min.css',
            'assets/css/main.min.css',
            'bower_components/sidr/dist/stylesheets/jquery.sidr.light.css'
        ]|theme }}" rel="stylesheet" /> 

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"> 

        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <body>

        {# **ANALYTICS** #}
        <!-- Global site tag (gtag.js) - Google Analytics -->

        <!-- Header -->
        <header id="layout-header">
            {% partial "layout/header" %}
        </header>

        <!-- Content -->
        <div id="layout-content">
            {% page %}
        </div>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "layout/footer" %}
        </footer>

        <!-- Scripts -->
        <script src="{{ ['bower_components/jquery/dist/jquery.js',
        'bower_components/sidr/dist/jquery.sidr.min.js',
        'bower_components/bootstrap/dist/js/bootstrap.min.js']|theme }}">
        </script>
        
        <script>                    
            $('#simple-menu').sidr();            
        </script>
           
        {% framework extras %}

        {% scripts %}

        {% placeholder footer %}

    </body>
</html>
